[1manyio[0m==4.13.0
[1mappnope[0m==0.1.4
[1margon2-cffi[0m==25.1.0
[1margon2-cffi-bindings[0m==25.1.0
[1marrow[0m==1.4.0
[1masttokens[0m==3.0.1
[1masync-lru[0m==2.3.0
[1mattrs[0m==26.1.0
[1mbabel[0m==2.18.0
[1mbeautifulsoup4[0m==4.14.3
[1mbleach[0m==6.3.0
[1mcertifi[0m==2026.5.20
[1mcffi[0m==2.0.0
[1mcfgv[0m==3.5.0
[1mcharset-normalizer[0m==3.4.7
[1mcloudpickle[0m==3.1.2
[1mcomm[0m==0.2.3
[1mcontourpy[0m==1.3.3
[1mcycler[0m==0.12.1
[1mdebugpy[0m==1.8.20
[1mdecorator[0m==5.3.1
[1mdefusedxml[0m==0.7.1
[1mdistlib[0m==0.4.0
[1mexecuting[0m==2.2.1
[1mfastjsonschema[0m==2.21.2
[1mfilelock[0m==3.29.0
[1mfonttools[0m==4.63.0
[1mfqdn[0m==1.5.1
[1mh11[0m==0.16.0
[1mhttpcore[0m==1.0.9
[1mhttpx[0m==0.28.1
[1midentify[0m==2.6.19
[1midna[0m==3.16
[1mipykernel[0m==7.2.0
[1mipython[0m==9.13.0
[1mipython-pygments-lexers[0m==1.1.1
[1misoduration[0m==20.11.0
[1mjedi[0m==0.20.0
[1mjinja2[0m==3.1.6
[1mjoblib[0m==1.5.3
[1mjson5[0m==0.14.0
[1mjsonpointer[0m==3.1.1
[1mjsonschema[0m==4.26.0
[1mjsonschema-specifications[0m==2025.9.1
[1mjupyter-client[0m==8.8.0
[1mjupyter-core[0m==5.9.1
[1mjupyter-events[0m==0.12.1
[1mjupyter-lsp[0m==2.3.1
[1mjupyter-server[0m==2.18.2
[1mjupyter-server-terminals[0m==0.5.4
[1mjupyterlab[0m==4.5.7
[1mjupyterlab-pygments[0m==0.3.0
[1mjupyterlab-server[0m==2.28.0
[1mkiwisolver[0m==1.5.0
[1mlark[0m==1.3.1
[1mllvmlite[0m==0.47.0
[1mmarkupsafe[0m==3.0.3
[1mmatplotlib[0m==3.10.9
[1mmatplotlib-inline[0m==0.2.2
[1mmissingno[0m==0.5.2
[1mmistune[0m==3.2.1
[1mnarwhals[0m==2.21.2
[1mnbclient[0m==0.10.4
[1mnbconvert[0m==7.17.1
[1mnbformat[0m==5.10.4
[1mnest-asyncio[0m==1.6.0
[1mnodeenv[0m==1.10.0
[1mnotebook-shim[0m==0.2.4
[1mnumba[0m==0.65.1
[1mnumpy[0m==2.4.6
[1mpackaging[0m==26.2
[1mpandas[0m==3.0.3
[1mpandocfilters[0m==1.5.1
[1mparso[0m==0.8.7
[1mpexpect[0m==4.9.0
[1mpillow[0m==12.2.0
[1mplatformdirs[0m==4.9.6
[1mplotly[0m==6.7.0
[1mpre-commit[0m==4.6.0
[1mprometheus-client[0m==0.25.0
[1mprompt-toolkit[0m==3.0.52
[1mpsutil[0m==7.2.2
[1mptyprocess[0m==0.7.0
[1mpure-eval[0m==0.2.3
[1mpycparser[0m==3.0
[1mpygments[0m==2.20.0
[1mpynndescent[0m==0.6.0
[1mpyparsing[0m==3.3.2
[1mpython-dateutil[0m==2.9.0.post0
[1mpython-discovery[0m==1.3.1
[1mpython-json-logger[0m==4.1.0
[1mpyyaml[0m==6.0.3
[1mpyzmq[0m==27.1.0
[1mreferencing[0m==0.37.0
[1mrequests[0m==2.34.2
[1mrfc3339-validator[0m==0.1.4
[1mrfc3986-validator[0m==0.1.1
[1mrfc3987-syntax[0m==1.1.0
[1mrpds-py[0m==0.30.0
[1mruff[0m==0.15.14
[1mscikit-learn[0m==1.8.0
[1mscipy[0m==1.17.1
[1mseaborn[0m==0.13.2
[1msend2trash[0m==2.1.0
[1msetuptools[0m==82.0.1
[1mshap[0m==0.49.1
[1msix[0m==1.17.0
[1mslicer[0m==0.0.8
[1msoupsieve[0m==2.8.3
[1mstack-data[0m==0.6.3
[1mterminado[0m==0.18.1
[1mthreadpoolctl[0m==3.6.0
[1mtinycss2[0m==1.4.0
[1mtornado[0m==6.5.5
[1mtqdm[0m==4.67.3
[1mtraitlets[0m==5.15.0
[1mtyping-extensions[0m==4.15.0
[1mtzdata[0m==2026.2
[1mumap-learn[0m==0.5.12
[1muri-template[0m==1.3.0
[1murllib3[0m==2.7.0
[1mvirtualenv[0m==21.3.3
[1mwcwidth[0m==0.7.0
[1mwebcolors[0m==25.10.0
[1mwebencodings[0m==0.5.1
[1mwebsocket-client[0m==1.9.0
